
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.weather {


  --box-color: none;
  --box-color2: none;  

  /* --box-color: #000000;
  --box-color2: #4287f5; */



  border: solid 2px var(--box-color);

 
  font-family: 'Muli', sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  border: solid 2px var(--box-color);

  font-size: 100px;
  flex-grow: 1;
}

/* .wind-icon { */
.weather-icon-text {
  border: solid 2px var(--box-color);

  font-size: 20px;
}

.direction-icon {

  border: solid 2px var(--box-color);

  flex-grow: 1;
  font-size: 65px;
}

.wind-text {
  border: solid 2px var(--box-color);

  font-size: 20px;
}

.current-temp {
  border: solid 2px var(--box-color);

  flex-grow: 2;
  font-size: 72px;
  align-items: center;
  justify-content: center;

}

.current-status{
  border: solid 2px var(--box-color2);

  flex-grow: 4;
  font-size: 32px;
  justify-content: center;

}

.high-and-low {
  border: solid 2px var(--box-color);

  justify-content: space-around;
  font-size: 30px;
  flex-grow: 2;
}