.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.centered {
  justify-content: center;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
  p {
      font-size: 1.5em; /* 1.5x default size */
  }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
  p {
      font-size: 1.2em; /* 1.2x default size */
      }
  }
@media all and (max-width: 500px) { /* screen size until 500px */
  p {
      font-size: 0.8em; /* 0.8x default size */
      }
  }
